<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/routes.xsd">
    <router id="admin">
        <route id="byte8_vat_validator" frontName="byte8_vat_validator">
            <module name="Byte8_VatValidator"/>
        </route>
    </router>
</config>
